:root{
    --bg-color:#fff;
    --text-color:#221314;
    --second-color:#5a7184;
    --main-color:#d18a4b;
    --big-font: 6rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}


.navbar-brand {
    font-family: 'Paytone One', sans-serif;
} 
.carousel-caption {
    font-family: 'Paytone One', sans-serif;
}
.carousel-inner .carousel-item img{
    width: 70%;
    height: 560px;
    align-items: center;
    text-align: center;

}
.carousel-inner .carousel-item h5{
    font-size: 50px;
    color: white;
    align-items: center;
    text-align: center;
    justify-content: center;
}

/* about */
*{
    margin: 0px;
    padding: 0px;
    list-style-type: none;

}
.heading{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
    margin-top: 50px;
}
.heading h1{
    font-size: 50px;
    color: #000;
    margin-bottom: 25px;
    position: relative;
}
.heading h1::after{
    content:"" ;
    position: relative;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto ;
    background-color: rgba(205, 133, 63, 1);
}
.heading p{
    font-size: 18px;
    color: #666;
    margin-bottom: 35px;
}
.container{
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.about-image{
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}
.about-image img{
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}
.about-image:hover img{
    transform: scale(1.2);
}
.about-content{
    flex: 1;
}
.about-content h2{
    font-size: 33px;
    margin-bottom: 15px;
    color: #333;
}
.about-content p{
    font-size: 18px;
    line-height: 1.5;
    color: #666;
}
.about-content .read-more{
    display: inline-block;
    padding: 10px 20px;
    background-color: #666;
    color: #fff;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3 ease;
}
.about-content .read-more:hover{
    background-color: #333;
}
/* PENUJALAN 2 */
.container .judul{
    margin-top: 85px;
}
/* Newlatter */
.newsletter{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    grid-gap: 5px;
    font-family: 'Paytone One', sans-serif;
    margin-left: 58px;
}
.news-text h2{
    font-size: var(--h2-font);
    margin-bottom: 5px;
}
.news-text p{
    font-size: var(--p-font);
    color: var(--second-color);
    line-height: 30px;
}
.newsletter form{
    max-width: 100%;
    width: 450px;
    position: relative;
    margin-right: 48px;
}
.newsletter form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 20px 150px 20px 30px;
    box-shadow: 10px 20px 30px rgb(85 85 85 /20%);
    outline: none;
    border: none;
    border-radius: 15px;
}
.newsletter form input:last-child{
    display: inline-block;
    position: absolute;
    outline: none;
    padding: 14px 30px;
    border: none;
    border-radius: 20px;
    background: var(--main-color);
    color: var(--bg-color);
    top: 7px; right: 7px;
    cursor: pointer;
}
/* AKHIR NEWSLATER */
/* Footer */
#contact{
    background: var(--main-color);
    height: 290px;
}
.footer{
    padding: 20px 0;
}
.main{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Paytone One', sans-serif;
    
}
.list{
    width: 25%;
} 
.list h4{
    font-size: 21px;
    color: var(--bg-color);
    margin-bottom: 30px;
    position: relative;
    margin-left: 30px;
}
.list h4::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 70px;
    left: 0;
    bottom: -10px;
    background: var(--bg-color);
}
.list ul li:not(:last-child){
    margin-bottom: 16px;
}
.list ul li a{
    display: block;
    color: #ffffffbf;
    font-size: var(--p-font);
    display: block;
    transition: .3s;
    list-style-type: none;
    text-decoration: none;
}
.list ul li a:hover{
    color: var(--bg-color);
    transform: translateX(15px);
}
.list .social a{
    height: 40px;
    width: 40px;
    background: var(--bg-color);
    columns: var(--main-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
    border-radius: 15px;
    transition: .3s;
    margin-right: 10px;
}
.list .social a:hover{
    transform: scale(1.1);
}
.end-text{
    text-align: center;
    padding-top: 40px;
}
.end-text p{
    color: var(--bg-color);
    font-size: 14px;
    letter-spacing: 2px; /* mengatur spasi*/
}
.social a{
    text-decoration: none;
    color: #666;
}
/* Gallery */
body {
    position: relative;
    height: 100%;
  }

  body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3%;
  }
  .swiper {
    width: 100%;
    height: 30%;
    margin: 20px auto;
  }
  .append-buttons {
    text-align: center;
    margin-top: 20px;
  }

  .append-buttons button {
    display: inline-block;
    cursor: pointer;
    border: 1px solid #fff;
    color: #d18a4b;
    text-decoration: none;
    padding: 4px 10px;
    border-radius: 4px;
    margin: 0 10px;
    font-size: 13px;
  }
  .swiper-button-next {
    color: var(--main-color);
  }


 
 
@media screen and (max-width: 768px){
    .heading{
        padding: 0px 20px;
    }
    .heading h1{
        font-size: 36px;
    }
    .heading p{
        font-size: 17px;
        margin-bottom: 0px;
    }
    .container{
        padding: 0px;
    }
    .about{
        padding: 20px;
        flex-direction: column;
    }
    .about-image{
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .about-content p{
        padding: 0px;
        font-size: 16px;
    }
    .about-content.read-more{
        font-size: 16px;
    }
}

